@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1e1f26;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.movie-details,
.booking-form {
    background-color: #252934;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-img-box img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover; /* Add this line */
}

.details {
    text-align: center;
    margin-top: 1rem;
}

.movie-title {
    color: #cd8c38;
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 0.5rem;
}

.input-group input,
.input-group select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
}

.btn {
    background-color: #cd8c38;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #92601f;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(1px);
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
}

#finish {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

#success-modal {
    z-index: 1000; /* Adjust the value as needed */
    display: none !important;
}

